:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 亮色主题 */
[data-theme="light"] {
  color-scheme: light;
  color: #213547;
  background-color: #ffffff;
}

/* 深色主题 */
[data-theme="dark"] {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #1a1b1e;
}

* {
  transition: background-color 0.3s
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.9);
    /* 略微提高文字亮度 */
    background-color: #1a1b1e;
  }

  a:hover {
    color: #93c5fd;
  }

  button {
    background-color: #2a2b2f;
  }
}